<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.jean.emergencyservices"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/Theme.Custom" >
        <activity
            android:name=".presentation.Home"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phonenumbers.create.CreatePhoneNumber"
            android:label="@string/title_activity_create_phone_number"
            android:parentActivityName=".presentation.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.jean.emergencyservices.presentation.Home" />
        </activity>
    </application>

</manifest>
